<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NaverBook_ClientSecret</key>
	<string>EPeQdJKEAb</string>
	<key>NaverBook_ClientID</key>
	<string>7fY_W5oWBt_TOHJtrT12</string>
</dict>
</plist>
